<!DOCTYPE html>
<html lang="nl_NL">

<head>
    {{> layouts/includes/head}}
</head>

<body class="theme--default">
{{> layouts/includes/header}}

{{{body}}}

{{> layouts/includes/scripts}}

</body>
</html>
