$white: #fff;
$blue: #0087bb;
$red: #d10a10;
$light-red: #e57373;
$yellow: #f2c650;
$light-grey: #e0e0e0;
$grey: #666;
$black: #000;
$green: #24B835;
$light-green: #aed581;
$dp-base-bg: #cccfd6;

// HEADER
$dp-header-bg: #666d7f;

// panels
$dp-panel-title-color: #063263;

//666F81
$dp-app-link-color: #666f81;
$dp-app-link-color-hover: #666f8a;
$dp-app-link-icon-background: #eaebee;
$dp-app-link-color-dnr: #0084af;
$dp-app-link-color-dnr-hover: #063263;
$dp-app-link-color-dnr-external-hover: $dp-app-link-icon-background;

// fonts
$open-sans: 'Open Sans Bold', 'Open Sans', 'helvetica neue', arial, sans-serif;
